<div class="container">
  <div class="row">
    <div class="p-5">
      <h4>
        ショッピングカート
        <%= button_to "カートを空にする", destroy_all_cart_items_path, method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-danger" %>
      </h4>
    </div>
  </div>

  <div class="row">
    <div class="col-10">
      <table class="table table-striped table-bordered bg-light">
        <thead>
          <tr>
            <th>商品名</th>
            <th>単価(税込)</th>
            <th>数量</th>
            <th>小計</th>
            <th></th>
          </tr>
        </thead>
        <% @cart_items.each do |cart_item| %>
          <tbody>
            <tr>
              <td>
                <%= image_tag cart_item.item.get_image, size: "100x100" %>
                <%= cart_item.item.name %>
              </td>
              <td><%= cart_item.item.add_tax_price %></td>
              <td>
                <%= form_with model: cart_item, url: cart_item_path(cart_item.id), method: :patch do |f| %>
                  <%= f.select :amount, *[1..10] %>
                  <%= f.submit "変更", class: "btn btn-success" %>
                <% end %>
              </td>
              <td><%= cart_item.subtotal %></td>
              <td><%= link_to "削除", cart_item_path(cart_item.id), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-danger" %></td>
            </tr>
          </tbody>
        <% end %>
      </table>
      <div class="p-3">
        <h4 class="content-justify-end border-bottom pb-2 mb-4">
          <%= link_to "買い物を続ける", items_path, class: "btn btn-primary" %>
          合計金額 <%= @total.round.to_s(:delimited) %>
        </h4>
      </div>
    </div>
  </div>
  <div class="text-center">
    <%= link_to "注文情報入力に進む", new_order_path, class: "btn btn-success mt-3" %>
  </div>
</div>