<div>
  <h3>注文情報確認</h3>

  <div>
    <div>
      <table>
        <thead>
          <tr>
            <th>商品名</th>
            <th>単価(税込)</th>
            <th>数量</th>
            <th>小計</th>
          </tr>
        </thead>
        <% total = 0 %>
        <% @cart_items.each do |cart_item| %>
          <tbody>
            <tr>
              <td>
                <%= image_tag cart_item.item.get_image, size: "100x100" %>
                <%= cart_item.item.name %>
              </td>
              <td><%= cart_item.item.add_tax_price %></td>
              <td><%= cart_item.amount %></td>
              <td><%= cart_item.subtotal %></td>
            </tr>
          </tbody>
          <% total += (cart_item.item.price*cart_item.amount)*1.1 %>
        <% end %>
      </table>
    </div>

    <div>
      <table>
        <% @order.postage = 800 %>
        <thead>
          <tr>
            <th>送料</th>
            <td><%= @order.postage %></td>
          </tr>
          <tr>
            <th>商品合計</th>
            <td><%= total.to_i %></td>
          </tr>
          <tr>
            <th>請求金額</th>
            <% @order.payment_amount = @order.postage + total.to_i %>
            <td><%= @order.payment_amount %></td>
          </tr>
        </thead>
      </table>
    </div>

    <div>
      <h3>支払方法</h3>
      <%= @order.method_of_payment_i18n %>
      <h3>お届け先</h3>
      〒<%= @order.shipping_postal_code %>
      <%= @order.shipping_address %>
      <%= @order.delivery_name %>
    </div>

    <div>
      <%= form_with model: @order, url: orders_path, method: :post, local: true do |f| %>
        <%= f.hidden_field :customer_id %>
        <%= f.hidden_field :postage %>
        <%= f.hidden_field :payment_amount %>
        <%= f.hidden_field :method_of_payment %>
        <%= f.hidden_field :delivery_name %>
        <%= f.hidden_field :shipping_address %>
        <%= f.hidden_field :shipping_postal_code %>
        <%= f.submit "注文を確定する" %>
      <% end %>
    </div>

  </div>
</div>