<div>
  <h3>注文情報入力</h3>
  <%= form_with model: @order, url: confirm_orders_path, method: :post, local: true do |f| %>
    <h3>支払い方法</h3>
    <%= f.radio_button :method_of_payment, Order.method_of_payments.key(0) %>
    <%= f.label :payment_method_credit_card, Order.method_of_payments_i18n[:credit_card] %><br>

    <%= f.radio_button :method_of_payment, Order.method_of_payments.key(1) %>
    <%= f.label :payment_method_transfer, Order.method_of_payments_i18n[:transfer] %>

    <h3>お届け先</h3>
    〒<%= current_customer.postal_code %>
    <%= current_customer.address %>
    <%= current_customer.last_name %><%= current_customer.first_name %><br>

    <%= f.submit "確認画面へ進む" %>
  <% end %>
</div>