<div>
  <div>
    <h2>商品一覧</h2>
    <span>(全<%= @items.count %>件)</span>
  </div>

  <div>
    <% @items.each do |item| %>
      <div>
        <%= link_to item_path(item.id) do %>
          <%= image_tag item.get_image %>
          <p><%= item.name %></p>
          <p>¥<%= item.price %></p>
        <% end %>
      </div>
    <% end %>
  </div>
</div>